<li id="post-<%= i.id%>">
    <p>
        <%if (locals.user && locals.user.id==i.user.id){%>
            <small>
                <a class="delete-post-button" id="delete-post" href="/post/destroy/<%= i.id%>">X</a>
            </small>
            <%}%>
            <%= i.content%>
            <i class="fa-regular fa-thumbs-up like"></i>
            <br>
            <small>
                <%= i.user.name%>
            </small>
    </p>

    <!-- COMMENT FORM  -->
    <%if (locals.user){%>
        <form action="/comments/create" id="new-comment-form" method="post">
            <h4>Comment</h4>
            <textarea name="content" id="" cols="50" rows="2" placeholder="Comments ..." required></textarea>
            <input type="hidden" name="post" value="<%=i.id%>">
            <input type="submit" value="Comment">
        </form>
        <%}%>
            <!-- DISPLAYING COMMENTS  -->
            <div class="post-comment-list">
                <ul id="post-comments-<%=i._id%>">
                    <!-- ALL COMMENTS OF EVERY POST SHOULD GET DISPLAYED TO ALL USER  -->
                    <%for (j of i.comment){%>
                        <%-include('_comment')-%>
                            <%}%>
                </ul>
            </div>
</li>